<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/styles.css') }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <title>{{ title }}</title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='dist/img/favicon.png') }}" type="image/x-icon" />
</head>

<body class="dash-template">   
    <header class="header-top">
        <div class="nav-wrapper">
            <a href="/">
                <h1>Clustering</h1>
            </a>
        </div>
    </header>         
    {% include 'navbar.jinja2' %}

    <div class="content-container">
        <div>
            <h1>Título del algoritmo</h1>
            <p>Agregar introducción y cosas random</p>
        </div>
        <div class="box-upload">
            <form id="csv-form" action="{{ url_for('upload_csv') }}" method="POST" enctype="multipart/form-data">
                <input type="file" name="csv_file" accept=".csv" style="display: none;" onchange="submitForm()">
                <div class="upload-container">
                    Carga de archivo <a>Select CSV File</a>
                </div>
                <div id="output-data-upload"></div>
            </form>
        </div>


    </div>
    <footer>
        <script type="text/javascript" src="../../static/js/barra.js"></script>
        <script type="text/javascript" src="../../static/js/upload.js"></script>

    </footer>
</body>
</html>
