
<!DOCTYPE html>
    <html>
        <head>
            {%metas%}            
            <title>{%title%}</title>
            {%favicon%}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
            {%css%}
        </head>

        <body class="dash-template">   
            <header class="header-top">
                <div class="nav-wrapper">
                    <a href="/">
                        <h1>Asociación</h1>
                    </a>
                </div>
            </header>         
            {% include '../../templates/navbar.jinja2' %}

            <div class="content-container">
                <div>
                    <h1>Título del algoritmo</h1>
                    <p>Agregar introducción y cosas random</p>
                </div>
                

            </div>
            <footer>
                {%config%}
                {%scripts%}
                <script type="text/javascript" src="../../static/js/barra.js"></script>
                <script type="text/javascript" src="../../static/js/boton.js"></script>
                {%renderer%}
            </footer>
        </body>
    </html>
