// Upload_section
.box-upload {
    margin: 50px 10px;
}

.upload-container {
    height: 62px;
    line-height: 60px;
    border-width: 2px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
}