// Upload_section
.box-upload {
    margin: 50px 10px;
}

.upload-container {
    height: 62px;
    line-height: 60px;
    border-width: 2px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
}

// //Table Apriori
.table-container {
  max-width: 100%;
  overflow-x: auto;
}

.table-wrapper {
  width: fit-content;
}

#data-table {
  white-space: nowrap;
}

#data-table tbody td:nth-child(n+11) {
  display: none;
}
.render-results.content-container {
  display: none;
}
